@import '../../scss/variables';

.appointment {
  display: flex;
  flex-direction: column;
  padding: $gutter-2;

  &__title {
    font-size: $font-size-l;
    margin: 0;
    padding: 0;
  }

  &__hdl {
    font-size: $font-size-m;
    margin: $gutter-1-5 0 0 0;
    padding: 0;
  }

  &__content {
    color: $what-time-gray;
    font-size: $font-size-s;
    margin: $gutter-0-5 0 0 0;
  }
}