@import '../../scss/variables';

.top-bar-info {
  color: $what-time-white;
  background: $what-time-green;
  font-size: $font-size-s;
  display: inline-flex;
  align-items: flex-start;
  padding: $gutter-1 $gutter-2;
}