@import "../../scss/variables";

.content {
  display: flex;
  flex-direction: column;
  padding: $gutter-2;

  &__input {
    border: none;
    font-size: $font-size-m;
    margin: $gutter-1-5 0 0 0;

    &--first {
      margin: 0 0 0 0;
    }
  }
}

.week-picker-container {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 1px);
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &--active {
    display: block;
  }
}

.week-picker {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  background: green;

  &--active {
    display: block;
  }
}

.week {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $what-time-light-yellow;
  float: left;
  margin-left: calc(50px / 3);

  &:hover {
    background: red !important;
  }

  &--first {
    margin-left: 0;
  }
}
